doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title SuperBank
    link(rel='stylesheet', href='css/app.css')
  body
    #container
      h1 SuperBank

      #balance Balance:
        span $1000

      #input
        input#amount(autofocus=true)
        button#deposit DEPOSIT
        button#withdraw WITHDRAW

      table#ledger
        thead
          tr
            th Fee
            th Deposit
            th Withdraw
            th Balance
        tbody
          tr
            td
            td
            td
            td $1000.00



    script(src='js/vendor/jquery-2.1.0.js')
    script(src='js/source/main.js')
